@charset "utf-8";

/* resolutions */
$res_tablet: 750px;
$res_desktop: 1000px;

$global_max-width: 1100px;

$bg_color: #f2f2f2;

$font_size: 15px;
$font_family: 'Roboto Condensed', sans-serif;
$text_color: #3a2927;

$global_side-indent: 20px;

$nav_height: 60px;
$nav-icon_size: 30px;


