h1, .header-1 {
	font: 30px/32px 'Montserrat Subrayada', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 26px;

	@include media($res_tablet) {
		font-size: 38px;
		line-height: 42px;
		margin-bottom: 30px;
	}
}
h2, .header-2 {
	font: 20px/22px 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 16px;

	@include media($res_tablet) {
		font-size: 26px;
		line-height: 29px;
		margin-bottom: 22px;
	}
}